body {
    font-size: 15pt;
    background:#292929;
}
#jump {
   transform: translateX(600px);
   background: red;
   width: 1300px;
   height: 1000px;
   clip-path: circle(500px at right 50%);
   animation: red 7s ease-in-out infinite;
}
@keyframes red {
   0%,100% {
      transform: translateX(1100px);
      clip-path: circle(500px at center 40%);
      
   }
   50% {
    transform: translateX(-850px);
    clip-path: circle(500px at center 40%);
   }
}
#second {
   background: dodgerblue;
   width: 1700px;
   height: 1700px;
   clip-path: circle(550px at left 66%);
   transform: translateX(-100px);
   animation: blue 7s ease-in-out infinite;
}
@keyframes blue {
    0%,100% {
      transform: translateX(-900px);
      clip-path: circle(500px at center
      70%);
      
   }
   50% {
    transform: translateX(900px);
    clip-path: circle(500px at center 70%);
   }
}



.blur {
   position: relative;
   transform: translate(150px, -2200px);
   display: block;
   border-radius: 30px;
   width: 1200px;
   height: 1600px;
   border:2px solid white;
   border-radius: 10%;
   background: rgba(56,109,241,0.05);
   backdrop-filter: blur(60px);
   z-index: 0;
}
button {
  position: absolute;
   width:400px;
   height: 130px;
   background: green;
   text-transform: capitalize;
   font-size: 4em;
   background: red;
   border-radius: 60px;
   transform: translate(565px,-1100px);
   z-index: 1;
}

h4 {
   position: absolute;
   transform: translate(520px, 750px);
   font-size: 7em;
   text-transform: capitalize;
   z-index: 1;
   color: dodgerblue;
}

input {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   width:900px;
   height: 120px;
   background: rgba(183, 183, 183, 0.4);
   border-radius: 80px;
   padding: 15px 0px 30px 0px;
   text-align: center;
   text-transform: capitalize;
   z-index: 1;
}
#exam {
  /* background: greenyellow;*/
   width: 100px;
   height: 100px;
   background-image: url("sad.png");
   background-size: 100px;
   transform: translate(1210px,-2350px);
   border-radius: 50%;
   border: none;
   transition-duration: .8s;
}
#exam:hover {
   background-image: url("smile.png");
   background-size: 100px;
}
#king {
   transform: translate(300px, 1250px);
   z-index: 1;
}
#king:hover {
  background: rgba(183, 183, 183, 0.8);
}
#boom {
  transform: translate(300px, 1400px);
  z-index:1;
}
#boom:hover {
   background: rgba(183, 183, 183, 0.8);
}
::placeholder {
   color: black;
   font-size: .7em;
   letter-spacing: 8px;
}
input[type="email"] {
   font-size: 5em;
}
input[type="password"] {
   font-size: 5em;
}
